In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from geopy.distance import vincenty

In [2]:
# load train and test data
df_mess_train = pd.read_csv('mess_train_list.csv') # train set
df_mess_test = pd.read_csv('mess_test_list.csv') # test set
pos_train = pd.read_csv('pos_train_list.csv') # position associated to train set

In [3]:
len(df_mess_train["messid"].unique())

6068

In [4]:
df_mess_train.shape

(39250, 8)

In [5]:
df_mess_train.head()

,messid,bsid,did,nseq,rssi,time_ux,bs_lat,bs_lng
0,573bf1d9864fce1a9af8c5c9,2841,473335.0,0.5,-121.5,1.463546e+12,39.617794,-104.954917
1,573bf1d9864fce1a9af8c5c9,3526,473335.0,2.0,-125.0,1.463546e+12,39.677251,-104.952721
2,573bf3533e952e19126b256a,2605,473335.0,1.0,-134.0,1.463547e+12,39.612745,-105.008827
3,573c0cd0f0fe6e735a699b93,2610,473953.0,2.0,-132.0,1.463553e+12,39.797969,-105.073460
4,573c0cd0f0fe6e735a699b93,3574,473953.0,1.0,-120.0,1.463553e+12,39.723151,-104.956216

In [6]:
df_mess_train[["messid", "nseq", "rssi", "time_ux"]].groupby(["messid"]).mean()

                              nseq        rssi       time_ux
messid
573bf1d9864fce1a9af8c5c9  1.250000 -123.250000  1.463546e+12
573bf3533e952e19126b256a  1.000000 -134.000000  1.463547e+12
573c0cd0f0fe6e735a699b93  1.666667 -117.333333  1.463553e+12
573c1272f0fe6e735a6cb8bd  1.000000 -127.416667  1.463555e+12
573c8ea8864fce1a9a5fbf7a  1.214286 -125.996032  1.463586e+12
573c9148864fce1a9a616174  1.090909 -125.363636  1.463587e+12
573c939cf0fe6e735ac36de1  0.916667 -125.453704  1.463588e+12
573c9667f0fe6e735ac51891  1.000000 -136.000000  1.463588e+12
573c9892f0fe6e735ac6603f  1.200000 -121.740000  1.463589e+12
573c9d7b3e952e1912d9f567  1.750000 -126.750000  1.463590e+12
573cbc43f0fe6e735adabf38  1.000000 -123.000000  1.463598e+12
573cbc7ff0fe6e735adadeab  0.750000 -131.000000  1.463598e+12
573cc276864fce1a9a7dd272  0.000000 -127.000000  1.463600e+12
573cc3e1864fce1a9a7e8cac  1.500000 -122.500000  1.463600e+12
573cc5753e952e1912f0d833  1.000000 -131.333333  1.463601e+12
573ce369f0fe6e735aeeebd8  0.000000 -121.000000  1.463608e+12
573ce5ca3e952e191201235f  1.357143 -129.428571  1.463609e+12
573d44aa3e952e19123052b2  0.500000  -95.000000  1.463633e+12
573d45c5f0fe6e735a1f0ae6  0.333333 -126.333333  1.463633e+12
573d5b6f864fce1a9acb9d38  1.178571 -129.369048  1.463639e+12
573d5da8864fce1a9acccdda  0.921053 -126.973684  1.463639e+12
573d681d864fce1a9ad29b41  1.120000 -126.400000  1.463642e+12
573d6abaf0fe6e735a332b84  1.166667 -129.666667  1.463643e+12
573d6d113e952e191246d944  0.968750 -124.479167  1.463643e+12
573d6f69f0fe6e735a367295  1.222222 -122.740741  1.463644e+12
573d71d6f0fe6e735a384aee  1.023810 -125.523810  1.463645e+12
573d744bf0fe6e735a3a2223  0.975000 -124.883333  1.463645e+12
573d76d6f0fe6e735a3be643  2.000000 -120.000000  1.463646e+12
573d791c3e952e1912500c1b  1.318182 -126.643939  1.463646e+12
573d9819f0fe6e735a5490e8  1.161765 -125.970588  1.463654e+12
...                            ...         ...           ...
58470738cf554f422f929000  0.875000 -127.270833  1.481050e+12
58471022e541cd0e13246112  1.375000 -125.062500  1.481052e+12
5847108fe541cd0e1324b1ee  0.500000 -127.166667  1.481052e+12
58472d83e541cd0e133a1525  2.000000 -131.000000  1.481060e+12
58475c9fe541cd0e135ba410  1.200000 -125.433333  1.481072e+12
5847bd31e541cd0e13a086f8  1.000000 -132.666667  1.481096e+12
5847bed2cf554f422f15afe9  1.000000 -123.555556  1.481097e+12
5847cc1fcf554f422f216d77  0.750000 -127.500000  1.481100e+12
5847ce9fcf554f422f23e17d  0.777778 -130.166667  1.481101e+12
5847d139e541cd0e13b29e89  0.833333 -126.750000  1.481102e+12
5847d26912f14360d71487c3  1.166667 -126.333333  1.481102e+12
5847ee28e541cd0e13ce9e4b  1.000000 -132.166667  1.481109e+12
5847f00a12f14360d7311a7f  0.250000 -124.750000  1.481110e+12
5847f0d7e541cd0e13d11964  1.200000 -126.100000  1.481110e+12
5847f4bbe541cd0e13d4a1ef  0.937500 -127.822917  1.481111e+12
5847f515e541cd0e13d4f506  1.166667 -124.888889  1.481111e+12
5847f79412f14360d737f005  0.800000 -130.866667  1.481111e+12
5847fd3112f14360d73cdc47  1.000000 -121.111111  1.481113e+12
5848021312f14360d7410032  0.937500 -127.781250  1.481114e+12
584803dee541cd0e13e1d75d  1.000000 -122.333333  1.481115e+12
584810c8e541cd0e13edce7d  1.071429 -125.666667  1.481118e+12
5848214a12f14360d75d16ec  1.107143 -126.488095  1.481122e+12
584823b9e541cd0e13fe0548  1.038462 -124.435897  1.481123e+12
58483ded12f14360d774f58d  1.000000 -122.666667  1.481129e+12
58484e19e541cd0e132097db  1.000000  -90.666667  1.481134e+12
5848551912f14360d786ede6  1.600000 -125.500000  1.481135e+12
58485a25e541cd0e1329b8d6  1.000000 -129.566667  1.481137e+12
58485bd412f14360d78bebdb  0.700000 -128.383333  1.481137e+12
5848672e12f14360d7942374  1.100000 -123.800000  1.481140e+12
58487473e541cd0e133cca72  1.250000 -133.166667  1.481143e+12

[6068 rows x 3 columns]

In [7]:
len(df_mess_train["did"].unique())

113

In [8]:
df_mess_train[["did", "bsid"]].groupby(["did"]).count()

           bsid
did
473288.0    343
473335.0    459
473368.0     24
473401.0     19
473438.0     11
473502.0     14
473507.0    527
473512.0     22
473683.0    126
473796.0   1474
473805.0     66
473864.0     26
473871.0    139
473892.0     78
473897.0     10
473899.0   1234
473902.0    430
473953.0    378
474126.0    315
474176.0    818
474181.0    240
474192.0   2971
476123.0    224
476140.0    341
476161.0     38
476185.0   6653
476197.0      1
476207.0    328
476210.0     34
476212.0    477
...         ...
476607.0    126
476609.0   1722
476610.0     17
476611.0     26
476615.0     22
476826.0     76
476828.0     16
476829.0   4104
476830.0     86
476833.0    358
476835.0    604
476836.0     24
476841.0     32
476852.0    528
476853.0    166
476861.0     83
476868.0      5
476883.0     19
476884.0     40
476885.0    273
476887.0     15
476888.0    136
476889.0    900
476891.0     22
476896.0     18
476987.0    311
477023.0     20
477201.0     74
1747434.0   119
1747448.0   120

[113 rows x 1 columns]

In [9]:
df_mess_train[["messid", "bsid"]].groupby(["messid"]).count().max()

bsid    106
dtype: int64

In [10]:
df_mess_train.describe()

,bsid,did,nseq,rssi,time_ux,bs_lat,bs_lng
count,39250.000000,3.925000e+04,39250.000000,39250.000000,3.925000e+04,39250.000000,39250.000000
mean,4533.774752,4.835932e+05,1.043541,-125.863580,1.473368e+12,42.554998,-100.969685
std,2570.495638,9.893140e+04,0.563540,9.226500,5.506910e+09,7.722787,11.522732
min,879.000000,4.732880e+05,0.000000,-155.000000,1.463546e+12,36.053394,-107.463146
25%,2790.000000,4.761230e+05,1.000000,-132.500000,1.468410e+12,39.747448,-105.074287
50%,3559.000000,4.763150e+05,1.000000,-127.333333,1.473444e+12,39.793585,-105.043685
75%,7456.000000,4.766090e+05,1.500000,-121.000000,1.479118e+12,39.838740,-104.998429
max,11951.000000,1.747448e+06,2.000000,-64.000000,1.481143e+12,64.300000,-68.500000

In [11]:
pos_train.head()

         lat         lng
0  39.606690 -104.958490
1  39.606690 -104.958490
2  39.637741 -104.958554
3  39.730417 -104.968940
4  39.730417 -104.968940

In [12]:
pos_train.describe()

                lat           lng
count  39250.000000  39250.000000
mean      39.783333   -105.056343
std        0.206262      0.162954
min       35.770683   -107.630679
25%       39.708599   -105.060463
50%       39.776882   -105.039440
75%       39.805279   -105.018730
max       43.140387   -102.094289

In [13]:
pos_train.groupby(["lat", "lng"]).count()

Empty DataFrame
Columns: []
Index: [(35.770682875, -102.094289086), (36.0643030489, -102.278110329), (36.072725892, -102.28689478700001), (36.079944175, -102.298687059), (36.0895615629, -102.313745826), (36.0974351311, -102.328925341), (36.105737670399996, -102.345048823), (36.114601492199995, -102.362051139), (36.1273052022, -102.37694604299999), (36.1664432842, -102.427295281), (36.1713421309, -102.492561682), (36.1919258418, -102.459758025), (36.2142067479, -102.446554046), (36.2148735416, -102.49398200200001), (36.226397266300005, -102.51205959100001), (36.2368042437, -102.53050132899999), (36.2473960225, -102.54842804799999), (36.2584724067, -102.56663894799999), (36.2846924488, -102.62379672600001), (36.2887504179, -102.64312553200001), (37.8017025539, -103.655277058), (37.8019578439, -103.656655005), (38.6225387464, -104.35312492700001), (38.6227438971, -104.353257), (38.6457496319, -104.344912419), (38.6470772905, -104.344277135), (38.6472956994, -104.344189682), (38.648056465399996, -104.344182235), (38.6490258685, -104.34356250799999), (38.649227403699996, -104.343416115), (38.6507545235, -104.343044568), (38.6553874338, -104.341199276), (38.6591343921, -104.33977547799999), (38.6591674283, -104.33967641299999), (38.6706764101, -104.33550644299999), (38.671124900500004, -104.33536548), (38.7045845933, -104.324961635), (38.741609891799996, -104.323505324), (38.763332901, -104.322975017), (38.7636142995, -104.323052151), (38.7775642636, -104.322679855), (38.7788633171, -104.32266034), (38.797185484699995, -104.317927808), (38.8125505332, -104.306977164), (38.8161884995, -104.30433263200001), (38.8180683304, -104.303457722), (38.8217251663, -104.30127672799999), (38.8368907886, -104.293639789), (38.8371549505, -104.29349646), (38.8391150961, -104.292862379), (38.8391247713, -104.292529914), (39.043789411300004, -104.46683930399999), (39.063678023499996, -104.660002745), (39.065367247, -104.658993597), (39.0947727603, -104.63126246899999), (39.0997386113, -104.57499207), (39.1216589535, -104.559302446), (39.1218709978, -104.559023647), (39.1257312646, -104.55512747899999), (39.1579687514, -104.702612699), (39.25448775, -104.72012338799999), (39.292617528200005, -104.76092171200001), (39.3375187494, -104.79665856), (39.3396488872, -104.8580462), (39.339733068600005, -104.85783152100001), (39.3472607104, -104.860834989), (39.3595626998, -104.879091835), (39.3597639023, -104.87905553600001), (39.3598115675, -104.87901378), (39.3599417274, -104.87891313600001), (39.3602921874, -104.87898103299999), (39.3711695561, -104.878052661), (39.3717299209, -104.877695921), (39.3722537056, -104.87020445200001), (39.375880364299995, -104.87449010899999), (39.376999729299996, -104.87505722600001), (39.3777603001, -104.8753764), (39.3787533645, -104.876327047), (39.3790711229, -104.87795832), (39.3790764793, -104.878131958), (39.3790980698, -104.877905755), (39.3791151865, -104.87793940899999), (39.3791208238, -104.877845901), (39.3791685064, -104.87793146700001), (39.3792021638, -104.878329364), (39.3797358612, -104.87631094700001), (39.3798165189, -104.87882239), (39.3798244841, -104.877185876), (39.3800361956, -104.878824976), (39.380343470700005, -104.876294075), (39.380383074, -104.877129146), (39.3813848111, -104.88064503), (39.381796436799995, -104.88071917200001), (39.3819689952, -104.87466999700001), (39.3857028365, -104.876831059), (39.387616079299995, -104.87306502), (39.4002779801, -104.88009997200001), (39.403258434499996, -104.882002247), (39.4061189423, -104.88390649600001), (39.4066822567, -104.88443882600001), ...]

[6004 rows x 0 columns]

In [14]:
listOfBs = np.union1d(np.unique(df_mess_train['bsid']), np.unique(df_mess_test['bsid'])) # determine all Base stations that received at least 1 message

In [15]:
len(listOfBs)

259

In [16]:
# Feature Matrix construction 

def feat_mat_const(df_mess_train, listOfBs):
    mean = df_mess_train[["messid", "nseq", "rssi", "time_ux"]].groupby(["messid"]).mean()
    countBSID = df_mess_train[["messid", "bsid"]].groupby(["messid"]).count()
    df = pd.concat(mean, )
    return df_feat

In [17]:
# ground truth construction

def ground_truth_const(df_mess_train, pos_train):


    
    return ground_truth_lat, ground_truth_lng

In [18]:
df_feat = feat_mat_const(df_mess_train, listOfBs)
df_feat.head()

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [ ]:
ground_truth_lat, ground_truth_lng = ground_truth_const(df_mess_train, pos_train)
ground_truth_lat.shape

In [ ]:
# Validation

In [ ]:
def regressor_and_predict(df_feat, ground_truth_lat, ground_truth_lng, df_test):
    
    # train regressor and make prediction in the train set
    # Input: df_feat: feature matrix used to train regressor
    #        ground_truth_lat: df_feat associated latitude
    #        ground_truth_lng: df_feat associated longitude
    #        df_test: data frame used for prediction
    # Output: y_pred_lat, y_pred_lng

    
    return y_pred_lat, y_pred_lng

In [ ]:
# Make regressor and prediction using the train set

In [ ]:
y_pred_lat, y_pred_lng = regressor_and_predict(df_feat, ground_truth_lat, ground_truth_lng, df_feat)

In [ ]:
# Cross validation

In [ ]:
# Evaluate result

In [ ]:
def vincenty_vec(vec_coord):
    vin_vec_dist = np.zeros(vec_coord.shape[0])
    if vec_coord.shape[1] !=  4:
        print('ERROR: Bad number of columns (shall be = 4)')
    else:
        vin_vec_dist = [vincenty(vec_coord[m,0:2],vec_coord[m,2:]).meters for m in range(vec_coord.shape[0])]
    return vin_vec_dist

In [ ]:
# evaluate distance error for each predicted point
def Eval_geoloc(y_train_lat , y_train_lng, y_pred_lat, y_pred_lng):
    vec_coord = np.array([y_train_lat , y_train_lng, y_pred_lat, y_pred_lng])
    err_vec = vincenty_vec(np.transpose(vec_coord))
    
    return err_vec

In [ ]:
err_vec = Eval_geoloc(ground_truth_lat , ground_truth_lng, y_pred_lat, y_pred_lng)

In [ ]:
# Plot error distribution

In [ ]:
values, base = np.histogram(err_vec, bins=50000)
cumulative = np.cumsum(values) 
plt.figure();
plt.plot(base[:-1]/1000, cumulative / np.float(np.sum(values))  * 100.0, c='blue')
plt.grid(); plt.xlabel('Distance Error (km)'); plt.ylabel('Cum proba (%)'); plt.axis([0, 30, 0, 100]); 
plt.title('Error Cumulative Probability'); plt.legend( ["Opt LLR", "LLR 95", "LLR 99"])

In [ ]:
# Error criterion

np.percentile(err_vec, 80)

In [ ]:
# Construct test prediction